@use "../global";

#esse {
  background: url(/images/about/U_b-eSviHvs.png);
  width: 100%;
  height: 419px;
  background-size: cover;
  .welcome {
    padding: 150px 110px;
    h1 {
      padding: 16px 0;
    }
  }
}

.the__container {
  padding: 128px 0;
  text-align: center;
  .around--div {
    padding: 16px 0;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #161722;
    h1 {
      font-family: "Roboto Condensed";
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 64px;
      text-align: center;
      letter-spacing: -0.01em;
      text-transform: uppercase;
      color: #161722;
      @media (max-width: 800px) {
        .the__container {
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
  }
}

// ------  nav-------
#navbar {
  background: #0d0d0d;
  position: fixed;
  width: 100%;
  transition: 0.4s;
  z-index: 10;
}

nav {
  padding: 22px 0;
}

.navbar-shrink {
  padding: 8px 0;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .top-left {
    display: flex;
    align-items: center;
    gap: 48px;
  }
  & .top-left a {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #ffffff;
    opacity: 0.9;
  }
  & .top-left a:hover {
    color: #f2c79b;
  }
  & .top-left img {
    padding-right: 92px;
  }
  & button {
    padding: 20px 48px;
    border: 1px solid;
    border-radius: 12px;
    background: #ffd2a4;
    &:hover a {
      background: #ceaf8f;
      color: white;
    }
  }
  & button a {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #1c1d28;
  }
  & button:hover {
    background: #ceaf8f;
  }

  & .links,
  button {
    display: none;
  }
  & span {
    color: white;
  }

  @media (min-width: 900px) {
    & .links {
      display: flex;
      gap: 48px;
    }
    & button {
      display: flex;
    }
    & span {
      display: none;
    }
  }
}

// humburger---close---------

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f2c79b;
}

.overlay .closebtn {
  position: absolute;
  top: 25px;
  right: 12px;
  font-size: 60px;
  color: red;
}

// --------

.nise--in {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.labore--ut {
  padding: 64px 0;
  display: grid;
  grid-template-columns: auto auto;
  gap: 24px;
  justify-content: center;
  align-items: center;
  .tempor--sit {
    padding: 64px 0;
  }
  h6 {
    padding: 16px 0;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #161722;
  }
  h1 {
    padding: 16px 0;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
  }
  p {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #161722;
    opacity: 0.78;
  }
  .veniam--ad {
    padding: 64px 0;
  }
  h4 {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
  }
}

.new__container {
  text-align: center;
  .minim--et {
    padding: 128px 0;
  }
  p {
    padding: 16px 0;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #161722;
  }
  h1 {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
  }
}

.fle__container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 24px;
  transition: 1s;
  .consequat--div {
    padding: 10px 0;
  }
  .elit--magna:hover {
    background: #f5f2f0;
    transform: scale(1.2);
    z-index: 2;
  }
  h1 {
    padding: 16px 0;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
  }
  p {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #161722;
    opacity: 0.78;
  }
}

.sed__container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 94px 0;
  .quis--div {
    padding: 10px 0;
  }
  h1 {
    padding: 16px 0;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
  }
  p {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #161722;
    opacity: 0.78;
  }
}

.title__container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 24px;
  .nostud--sit {
    padding-top: 16px 0;
    h1 {
      font-family: "Roboto Condensed";
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 44px;
      letter-spacing: -0.01em;
      text-transform: uppercase;
      color: #161722;
    }
    p {
      padding: 16px 0;
      font-family: "Roboto Condensed";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #161722;
      opacity: 0.78;
    }
  }
}
.item__container {
  padding: 96px 0;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 30px;
  h1 {
    padding: 16px 0;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
  }
  p {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #161722;
    opacity: 0.78;
  }
}

.help--div {
  padding: 128px 0 0 0;
  text-align: center;
  p {
    padding: 16px 0;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #161722;
  }
  h1 {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
  }
}

.mett__container {
  padding: 64px 0;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  .memberist--div {
    position: relative;
    text-align: center;
    padding-top: 50px;
    background: #f5f2f0;
    width: 306px;
    height: 366px;
    transition: 1s;
  }
  .memberist--div:hover {
    transform: scale(1.2);
    z-index: 2;
    background: #f5f5;
  }

  .memberist--div img {
    width: 153px;
    height: 152px;
    border-radius: 100px;
  }
  .dusia--div img {
    justify-content: center;
    margin: 5px;
    width: 20px;
    height: 20px;
  }
  .labore--div {
    padding: 26px 0;
  }
  h1 {
    padding: 8px 0;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #161722;
  }
  p {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #161722;
    opacity: 0.7;
  }
}

footer {
  background: url(/images/contact/Background\ Shape.png);
  background-color: #000000;
}

.footcon {
  text-align: center;
  padding-top: 69px;
  padding-bottom: 64px;
  &__card1 {
    a {
      font-family: "Roboto Condensed";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
    }
    img {
      padding-bottom: 32px;
    }
    .bir {
      margin-top: 32px;
    }
    li {
      margin-bottom: 16px;
    }
  }

  &__card2 {
    margin-top: 20px;
    h3 {
      font-family: "Roboto Condensed";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    a {
      font-family: "Roboto Condensed";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      color: #ffffff;
      opacity: 0.78;
    }
    li {
      margin-bottom: 24px;
    }
  }
  &__card3 {
    margin-top: 20px;
    h3 {
      font-family: "Roboto Condensed";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
      margin-bottom: 20px;
    }
  }
  &__card4 {
    position: relative;
    margin-top: 20px;
    h1 {
      font-family: "Roboto Condensed";
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 44px;
      letter-spacing: -0.01em;
      text-transform: uppercase;
      color: #ffffff;
      margin-bottom: 35px;
    }
    form {
      margin-top: 20px;
    }
    input {
      width: 100%;
      padding: 20px 0px 20px 10px;
      border: none;
      color: white;
      outline: none;
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.15);
      border-radius: 12px;
    }
    button a {
      font-family: "Roboto Condensed";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      text-transform: uppercase;
      color: #1c1d28;
    }
    button {
      padding: 19px 30px;
      background: #ffd2a4;
      border-radius: 8px;
      border: none;
      margin-top: 20px;
    }
  }
}

@media (min-width: 700px) {
  .footcon {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &__card4 {
      margin-top: 50px;
    }
    &__card3 {
      margin-top: 50px;
      font-size: 50px;
    }
  }
}
@media (min-width: 1000px) {
  .footcon {
    display: flex;
    justify-content: space-between;
    text-align: start;

    &__card4 {
      margin-top: 0px;
      input {
        width: 100%;
      }
      button {
        position: absolute;
        top: 105px;
        right: 2px;
      }
    }
    &__card3 {
      margin-top: 0px;
      margin-right: -200px;
    }

    &__card2 {
      margin-top: 0px;
      margin-right: -200px;
    }
  }
}

@media (max-width: 1200px) {
  .dolor__container .nise--in {
    display: flex;
    flex-wrap: wrap;
    img {
      width: 100%;
    }
  }
}

@media (max-width: 900px) {
  .magna__container .labore--ut {
    display: flex;
    flex-wrap: wrap;
    .tempor--sit {
      width: 100%;
    }
  }
}

@media (min-width: 600px) {
  .magna__container .labore--ut {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 800px) {
  .fle__container .consequat--div {
    display: flex;
    flex-wrap: wrap;
    .consequat--div {
      width: 100%;
    }
  }
}

@media (max-width: 1200px) {
  .sed__container .commondo--in {
    display: flex;
    flex-wrap: wrap;
  }
}
