@use "../global";
@use "../layout/footer.scss";
@use "../global";

#navbar {
  background: #0d0d0d;
  position: fixed;
  width: 100%;
  transition: 0.4s;
}

nav {
  padding: 22px 0;
}

.navbar-shrink {
  padding: 8px 0;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .top-left {
    display: flex;
    align-items: center;
    gap: 48px;
  }
  & .top-left a {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #ffffff;
    opacity: 0.9;
  }
  & .top-left a:hover {
    color: #f2c79b;
  }
  & .top-left img {
    padding-right: 92px;
  }
  & button {
    padding: 20px 48px;
    border: 1px solid;
    border-radius: 12px;
    background: #ffd2a4;
    &:hover a {
      background: #ceaf8f;
      color: white;
    }
  }
  & button a {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #1c1d28;
  }
  & button:hover {
    background: #ceaf8f;
  }

  & .links,
  button {
    display: none;
  }
  & span {
    color: white;
  }

  @media (min-width: 900px) {
    & .links {
      display: flex;
      gap: 48px;
    }
    & button {
      display: flex;
    }
    & span {
      display: none;
    }
  }
}

// humburger---close---------

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f2c79b;
}

.overlay .closebtn {
  position: absolute;
  top: 25px;
  right: 12px;
  font-size: 60px;
  color: red;
}


#our {
  background-image: url(/images/contact/6liebVeAfrY.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cont {
  padding-top: 160px;
  padding-bottom: 160px;
  h6 {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #ffd2a4;
    text-align: center;
  }
  h1 {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
  }
}

// media
@media (min-width: 700px) {
  .cont {
    h1 {
      text-align: left;
      width: 40%;
    }
    h6 {
      text-align: left;
    }
  }
}

// main
main {
  background-color: #e5e5e5;
}

.contact {
  &__right {
    text-align: center;
    padding: 128px 0;
    h3 {
      font-family: "Roboto Condensed";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -0.01em;
      text-transform: uppercase;
      color: #1e1b1b;
    }
    form {
      margin-top: 32px;
      .mess {
        padding-bottom: 72px;
      }
    }
    input {
      display: block;
      margin-bottom: 12px;
      width: 100%;
      padding: 20px;
      outline: none;
      border: none;
      background: #ffffff;
      border-radius: 4px;
      &::placeholder {
        font-family: "Roboto Condensed";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #161722;
      }
    }
    button a {
      font-family: "Roboto Condensed";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      text-align: center;
      text-transform: uppercase;
      color: #1c1d28;
    }
    button {
      width: 100%;
      background: #ffd2a4;
      border-radius: 12px;
      border: none;
      padding: 20px 0;
    }
  }
  &__left {
    text-align: center;
    padding-bottom: 128px;
    .past {
      margin-bottom: 32px;
    }
    p {
      font-family: "Roboto Condensed";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: #1e1b1b;
      opacity: 0.7;
    }
    h3 {
      font-family: "Roboto Condensed";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: -0.01em;
      text-transform: uppercase;
      color: #161722;
      margin-top: 8px;
    
    }
    img {
      margin-top: 8px;
    }
    .tep {
      margin-top: 32px;
    }
  }
}

// media 
@media(min-width:700px) {
  .contact {
    display: flex;
    gap: 128px;
    &__right {
      text-align: left;
      width: 50%;
    }
    &__left {
      text-align: left;
      padding-top: 200px;
    }
  }
}