@font-face {
  font-family: "Roboto Condensed";
  src: url(../../font/RobotoCondensed-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed";
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto Condensed";
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url(/font/RobotoCondensed-Regular.ttf);
}
#esse {
  background: url(/images/about/U_b-eSviHvs.png);
  width: 100%;
  height: 419px;
  background-size: cover;
}
#esse .welcome {
  padding: 150px 110px;
}
#esse .welcome h1 {
  padding: 16px 0;
}

.the__container {
  padding: 128px 0;
  text-align: center;
}
.the__container .around--div {
  padding: 16px 0;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #161722;
}
.the__container .around--div h1 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
@media (max-width: 800px) {
  .the__container .around--div h1 .the__container {
    display: flex;
    flex-wrap: wrap;
  }
}

#navbar {
  background: #0d0d0d;
  position: fixed;
  width: 100%;
  transition: 0.4s;
  z-index: 10;
}

nav {
  padding: 22px 0;
}

.navbar-shrink {
  padding: 8px 0;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-nav .top-left {
  display: flex;
  align-items: center;
  gap: 48px;
}
.top-nav .top-left a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.9;
}
.top-nav .top-left a:hover {
  color: #f2c79b;
}
.top-nav .top-left img {
  padding-right: 92px;
}
.top-nav button {
  padding: 20px 48px;
  border: 1px solid;
  border-radius: 12px;
  background: #ffd2a4;
}
.top-nav button:hover a {
  background: #ceaf8f;
  color: white;
}
.top-nav button a {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #1c1d28;
}
.top-nav button:hover {
  background: #ceaf8f;
}
.top-nav .links,
.top-nav button {
  display: none;
}
.top-nav span {
  color: white;
}
@media (min-width: 900px) {
  .top-nav .links {
    display: flex;
    gap: 48px;
  }
  .top-nav button {
    display: flex;
  }
  .top-nav span {
    display: none;
  }
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f2c79b;
}

.overlay .closebtn {
  position: absolute;
  top: 25px;
  right: 12px;
  font-size: 60px;
  color: red;
}

.nise--in {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.labore--ut {
  padding: 64px 0;
  display: grid;
  grid-template-columns: auto auto;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.labore--ut .tempor--sit {
  padding: 64px 0;
}
.labore--ut h6 {
  padding: 16px 0;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #161722;
}
.labore--ut h1 {
  padding: 16px 0;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
.labore--ut p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
  opacity: 0.78;
}
.labore--ut .veniam--ad {
  padding: 64px 0;
}
.labore--ut h4 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}

.new__container {
  text-align: center;
}
.new__container .minim--et {
  padding: 128px 0;
}
.new__container p {
  padding: 16px 0;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #161722;
}
.new__container h1 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}

.fle__container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 24px;
  transition: 1s;
}
.fle__container .consequat--div {
  padding: 10px 0;
}
.fle__container .elit--magna:hover {
  background: #f5f2f0;
  transform: scale(1.2);
  z-index: 2;
}
.fle__container h1 {
  padding: 16px 0;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
.fle__container p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
  opacity: 0.78;
}

.sed__container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 94px 0;
}
.sed__container .quis--div {
  padding: 10px 0;
}
.sed__container h1 {
  padding: 16px 0;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
.sed__container p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
  opacity: 0.78;
}

.title__container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.title__container .nostud--sit {
  padding-top: 16px 0;
}
.title__container .nostud--sit h1 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
.title__container .nostud--sit p {
  padding: 16px 0;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
  opacity: 0.78;
}

.item__container {
  padding: 96px 0;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.item__container h1 {
  padding: 16px 0;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
.item__container p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
  opacity: 0.78;
}

.help--div {
  padding: 128px 0 0 0;
  text-align: center;
}
.help--div p {
  padding: 16px 0;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #161722;
}
.help--div h1 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}

.mett__container {
  padding: 64px 0;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}
.mett__container .memberist--div {
  position: relative;
  text-align: center;
  padding-top: 50px;
  background: #f5f2f0;
  width: 306px;
  height: 366px;
  transition: 1s;
}
.mett__container .memberist--div:hover {
  transform: scale(1.2);
  z-index: 2;
  background: rgba(255, 85, 255, 0.3333333333);
}
.mett__container .memberist--div img {
  width: 153px;
  height: 152px;
  border-radius: 100px;
}
.mett__container .dusia--div img {
  justify-content: center;
  margin: 5px;
  width: 20px;
  height: 20px;
}
.mett__container .labore--div {
  padding: 26px 0;
}
.mett__container h1 {
  padding: 8px 0;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
.mett__container p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
  opacity: 0.7;
}

footer {
  background: url(/images/contact/Background\ Shape.png);
  background-color: #000000;
}

.footcon {
  text-align: center;
  padding-top: 69px;
  padding-bottom: 64px;
}
.footcon__card1 a {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.footcon__card1 img {
  padding-bottom: 32px;
}
.footcon__card1 .bir {
  margin-top: 32px;
}
.footcon__card1 li {
  margin-bottom: 16px;
}
.footcon__card2 {
  margin-top: 20px;
}
.footcon__card2 h3 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 20px;
}
.footcon__card2 a {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.78;
}
.footcon__card2 li {
  margin-bottom: 24px;
}
.footcon__card3 {
  margin-top: 20px;
}
.footcon__card3 h3 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}
.footcon__card4 {
  position: relative;
  margin-top: 20px;
}
.footcon__card4 h1 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 35px;
}
.footcon__card4 form {
  margin-top: 20px;
}
.footcon__card4 input {
  width: 100%;
  padding: 20px 0px 20px 10px;
  border: none;
  color: white;
  outline: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 12px;
}
.footcon__card4 button a {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #1c1d28;
}
.footcon__card4 button {
  padding: 19px 30px;
  background: #ffd2a4;
  border-radius: 8px;
  border: none;
  margin-top: 20px;
}

@media (min-width: 700px) {
  .footcon {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footcon__card4 {
    margin-top: 50px;
  }
  .footcon__card3 {
    margin-top: 50px;
    font-size: 50px;
  }
}
@media (min-width: 1000px) {
  .footcon {
    display: flex;
    justify-content: space-between;
    text-align: start;
  }
  .footcon__card4 {
    margin-top: 0px;
  }
  .footcon__card4 input {
    width: 100%;
  }
  .footcon__card4 button {
    position: absolute;
    top: 105px;
    right: 2px;
  }
  .footcon__card3 {
    margin-top: 0px;
    margin-right: -200px;
  }
  .footcon__card2 {
    margin-top: 0px;
    margin-right: -200px;
  }
}
@media (max-width: 1200px) {
  .dolor__container .nise--in {
    display: flex;
    flex-wrap: wrap;
  }
  .dolor__container .nise--in img {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .magna__container .labore--ut {
    display: flex;
    flex-wrap: wrap;
  }
  .magna__container .labore--ut .tempor--sit {
    width: 100%;
  }
}
@media (min-width: 600px) {
  .magna__container .labore--ut {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 800px) {
  .fle__container .consequat--div {
    display: flex;
    flex-wrap: wrap;
  }
  .fle__container .consequat--div .consequat--div {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .sed__container .commondo--in {
    display: flex;
    flex-wrap: wrap;
  }
}