@font-face {
  font-family: "Roboto Condensed";
  src: url(../../font/RobotoCondensed-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed";
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto Condensed";
}

a {
  text-decoration: none;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url(/font/RobotoCondensed-Regular.ttf);
}
#esse {
  background: url(/images/about/U_b-eSviHvs.png);
  width: 100%;
  height: 419px;
  background-size: cover;
}
#esse .welcome {
  padding: 150px 110px;
}
#esse .welcome h1 {
  padding: 16px 0;
}

.the__container {
  padding: 128px 0;
  text-align: center;
}
.the__container .around--div {
  padding: 16px 0;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #161722;
}
.the__container .around--div h1 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
@media (max-width: 800px) {
  .the__container .around--div h1 .the__container {
    display: flex;
    flex-wrap: wrap;
  }
}

.nise--in {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.labore--ut {
  padding: 64px 0;
  display: grid;
  grid-template-columns: auto auto;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.labore--ut .tempor--sit {
  padding: 64px 0;
}
.labore--ut h6 {
  padding: 16px 0;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #161722;
}
.labore--ut h1 {
  padding: 16px 0;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
.labore--ut p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
  opacity: 0.78;
}
.labore--ut .veniam--ad {
  padding: 64px 0;
}
.labore--ut h4 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}

.new__container {
  text-align: center;
}
.new__container .minim--et {
  padding: 128px 0;
}
.new__container p {
  padding: 16px 0;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #161722;
}
.new__container h1 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}

.fle__container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 24px;
  transition: 1s;
}
.fle__container .consequat--div {
  padding: 10px 0;
}
.fle__container .elit--magna:hover {
  background: #f5f2f0;
  transform: scale(1.2);
  z-index: 2;
}
.fle__container h1 {
  padding: 16px 0;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
.fle__container p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
  opacity: 0.78;
}

.sed__container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 94px 0;
}
.sed__container .quis--div {
  padding: 10px 0;
}
.sed__container h1 {
  padding: 16px 0;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
.sed__container p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
  opacity: 0.78;
}

.title__container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 24px;
  transition: 1s;
}

.amet--img:hover {
  transform: scale(1.2);
  z-index: 2;
}
.amet--img:hover h1 {
  padding: 16px 0;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
.amet--img:hover p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
  opacity: 0.78;
}

.item__container {
  padding: 96px 0;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.item__container h1 {
  padding: 16px 0;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
.item__container p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
  opacity: 0.78;
}

.help--div {
  padding: 128px 0 0 0;
  text-align: center;
}
.help--div p {
  padding: 16px 0;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #161722;
}
.help--div h1 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}

.mett__container {
  padding: 64px 0;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}
.mett__container .memberist--div {
  position: relative;
  text-align: center;
  padding-top: 50px;
  background: #f5f2f0;
  width: 306px;
  height: 366px;
  transition: 1s;
}
.mett__container .memberist--div:hover {
  transform: scale(1.2);
  z-index: 2;
  background: rgba(255, 85, 255, 0.3333333333);
}
.mett__container .memberist--div img {
  width: 153px;
  height: 152px;
  border-radius: 100px;
}
.mett__container .dusia--div img {
  justify-content: center;
  margin: 5px;
  width: 20px;
  height: 20px;
}
.mett__container .labore--div {
  padding: 26px 0;
}
.mett__container h1 {
  padding: 8px 0;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
}
.mett__container p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
  opacity: 0.7;
}

@media (max-width: 1200px) {
  .dolor__container .nise--in {
    display: flex;
    flex-wrap: wrap;
  }
  .dolor__container .nise--in img {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .magna__container .labore--ut {
    display: flex;
    flex-wrap: wrap;
  }
  .magna__container .labore--ut .tempor--sit {
    width: 100%;
  }
}
@media (min-width: 600px) {
  .magna__container .labore--ut {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 800px) {
  .fle__container .consequat--div {
    display: flex;
    flex-wrap: wrap;
  }
  .fle__container .consequat--div .consequat--div {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .sed__container .commondo--in {
    display: flex;
    flex-wrap: wrap;
  }
}