@font-face {
  font-family: "Roboto Condensed";
  src: url(../../font/RobotoCondensed-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed";
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto Condensed";
}

a {
  text-decoration: none;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url(/font/RobotoCondensed-Regular.ttf);
}
#our {
  background-image: url(/images/contact/6liebVeAfrY.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cont {
  padding-top: 160px;
  padding-bottom: 160px;
}
.cont h6 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffd2a4;
  text-align: center;
}
.cont h1 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

@media (min-width: 700px) {
  .cont h1 {
    text-align: left;
    width: 40%;
  }
  .cont h6 {
    text-align: left;
  }
}
main {
  background-color: #e5e5e5;
}

.contact__right {
  text-align: center;
  padding: 128px 0;
}
.contact__right h3 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #1e1b1b;
}
.contact__right form {
  margin-top: 32px;
}
.contact__right form .mess {
  padding-bottom: 72px;
}
.contact__right input {
  display: block;
  margin-bottom: 12px;
  width: 100%;
  padding: 20px;
  outline: none;
  border: none;
  background: #ffffff;
  border-radius: 4px;
}
.contact__right input::-moz-placeholder {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
}
.contact__right input:-ms-input-placeholder {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
}
.contact__right input::placeholder {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161722;
}
.contact__right button a {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #1c1d28;
}
.contact__right button {
  width: 100%;
  background: #ffd2a4;
  border-radius: 12px;
  border: none;
  padding: 20px 0;
}
.contact__left {
  text-align: center;
}
.contact__left .past {
  margin-bottom: 32px;
}
.contact__left p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #1e1b1b;
  opacity: 0.7;
}
.contact__left h3 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #161722;
  margin-top: 8px;
}
.contact__left img {
  margin-top: 8px;
}
.contact__left .tep {
  margin-top: 32px;
}

@media (min-width: 700px) {
  .contact {
    display: flex;
    gap: 128px;
  }
  .contact__right {
    text-align: left;
    width: 50%;
  }
  .contact__left {
    text-align: left;
    padding-top: 200px;
  }
}