@font-face {
  font-family: "Roboto Condensed";
  src: url(../../font/RobotoCondensed-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed";
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto Condensed";
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url(/font/RobotoCondensed-Regular.ttf);
}
footer {
  background: url(/images/contact/Background\ Shape.png);
  background-color: #000000;
}

.footcon {
  text-align: center;
  padding-top: 69px;
  padding-bottom: 64px;
}
.footcon__card1 a {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.footcon__card1 img {
  padding-bottom: 32px;
}
.footcon__card1 .bir {
  margin-top: 32px;
}
.footcon__card1 li {
  margin-bottom: 16px;
}
.footcon__card2 {
  margin-top: 20px;
}
.footcon__card2 h3 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 20px;
}
.footcon__card2 a {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.78;
}
.footcon__card2 li {
  margin-bottom: 24px;
}
.footcon__card3 {
  margin-top: 20px;
}
.footcon__card3 h3 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}
.footcon__card4 {
  position: relative;
  margin-top: 20px;
}
.footcon__card4 h1 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 35px;
}
.footcon__card4 form {
  margin-top: 20px;
}
.footcon__card4 input {
  width: 100%;
  padding: 20px 0px 20px 10px;
  border: none;
  color: white;
  outline: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 12px;
}
.footcon__card4 button a {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #1c1d28;
}
.footcon__card4 button {
  padding: 19px 30px;
  background: #ffd2a4;
  border-radius: 8px;
  border: none;
  margin-top: 20px;
}

@media (min-width: 700px) {
  .footcon {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footcon__card4 {
    margin-top: 50px;
  }
  .footcon__card3 {
    margin-top: 50px;
    font-size: 50px;
  }
}
@media (min-width: 1000px) {
  .footcon {
    display: flex;
    justify-content: space-between;
    text-align: start;
  }
  .footcon__card4 {
    margin-top: 0px;
  }
  .footcon__card4 input {
    width: 100%;
  }
  .footcon__card4 button {
    position: absolute;
    top: 105px;
    right: 2px;
  }
  .footcon__card3 {
    margin-top: 0px;
    margin-right: -200px;
  }
  .footcon__card2 {
    margin-top: 0px;
    margin-right: -200px;
  }
}